@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div id="container" class="row text-center">
        <h1 class="white-txt">AIT Survey 2018</h1>
        <button class="btn btn-primary btn-lg" onclick="window.location='@Url.Action("Register", "Register")'" >Start</button>
    </div>    
</div>