@model AITResearch.ViewModels.SurveyViewModel

@{
    ViewBag.Title = "Survey";
}
<div>
    <form>
        <div class="form-group">
            <p>Question goes here!</p>
        </div>
        <div>
            <p>Question input goes here!</p>
        </div>
        <div>
            <button class="btn btn-primary">Next</button>
        </div>
    </form>
</div>


