body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #171819;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Boostrap Overrides*/

.navbar-inverse {
    background-color: #171819;
    border-bottom-style: none;
}

.container > .navbar-header {
    background-color: #171819;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.white-txt {
    color: white;
    font-family: sans-serif;
}

#container{
    padding-top:100px;
    padding-bottom: 100px;
}