@model AITResearch.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Admin";

    List<SelectListItem> li = new List<SelectListItem>();
    li.Add(new SelectListItem() { Text = "Item 1", Value = "Item 1" });
    li.Add(new SelectListItem() { Text = "Item 2", Value = "Item 2" });
    li.Add(new SelectListItem() { Text = "Item 3", Value = "Item 3" });
}




<div class="container admin">
    <div class="row">
        <div class="col-md-2">
            @Html.DropDownList("Item List", li, "Select", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <button class="btn btn-default">Filter</button>
        </div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.SearchInput, new { @class = "form-control", @placeholder = "Search..." })
        </div>
        <div class="col-md-2">
            <button class="btn btn-default">Search</button>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td>Male</td>
                    <td>0410123456</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td>Female</td>
                    <td>0410123456</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td>Female</td>
                    <td>0410123456</td>
                    <td>21</td>
                </tr>
            </tbody>
        </table>
    </div>   
</div>